<h2>报表</h2>

<h3>通用</h3>

<h4>显示效果：</h4>

<div class="panel report">
  <div class="header">
    <h4>员工基本信息报表</h4>
  </div>

  <div class="content full">
    <div class="report-header">
      <div class="report-filter">
        <div class="btn-bar">
          <div class="btn-group">
            <button type="button">刷新</button>
            <button type="button">添加</button>
            <button type="button">删除</button>
            <button type="button">筛选</button>
          </div>
        </div>
      </div>

      <div class="report-data-head-box">
        <table class="report-data-head">
          <thead>
            <tr>
              <th class="selectable"><label class="check"><input type="checkbox" data-select-all="#report-1"> <span>&nbsp;</span></label></th>
              <th>头像</th>
              <th>编号</th>
              <th>姓名</th>
              <th>英文名</th>
              <th>性别</th>
              <th>职位</th>
              <th>部门</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="table-holder">
      <table class="report-data">
        <thead>
          <tr>
            <th class="selectable"><label class="check"><input type="checkbox" data-select-all="#report-1"> <span>&nbsp;</span></label></th>
            <th>头像</th>
            <th>编号</th>
            <th>姓名</th>
            <th>英文名</th>
            <th>性别</th>
            <th>职位</th>
            <th>部门</th>
            <th></th>
          </tr>

          <tr class="report-filter-easy">
            <th class="selectable"></th>
            <th>
              <div class="dropdown">
                <div class="dropdown-face">
                  <span class="dropdown-text"></span>
                  <button type="button" class="btn-icon btn-link">▼</button>
                </div>

                <div class="dropdown-list">
                  <ul>
                    <li><a href="javascript:void(0);">类似</a></li>
                    <li><a href="javascript:void(0);">相同</a></li>
                  </ul>
                </div>

                <input type="text">
              </div>

              <input type="text" class="datepicker">
            </th>

            <th>
              <div class="dropdown">
                <div class="dropdown-face">
                  <span class="dropdown-text"></span>
                  <button type="button" class="btn-icon btn-link">▼</button>
                </div>

                <div class="dropdown-list">
                  <ul>
                    <li><a href="javascript:void(0);">类似</a></li>
                    <li><a href="javascript:void(0);">相同</a></li>
                  </ul>
                </div>

                <input type="text">
              </div>

              <input type="text">
            </th>

            <th>
              <div class="dropdown">
                <div class="dropdown-face">
                  <span class="dropdown-text"></span>
                  <button type="button" class="btn-icon btn-link">▼</button>
                </div>

                <div class="dropdown-list">
                  <ul>
                    <li><a href="javascript:void(0);">类似</a></li>
                    <li><a href="javascript:void(0);">相同</a></li>
                  </ul>
                </div>

                <input type="text">
              </div>

              <input type="text">
            </th>

            <th>
              <div class="dropdown">
                <div class="dropdown-face">
                  <span class="dropdown-text"></span>
                  <button type="button" class="btn-icon btn-link">▼</button>
                </div>

                <div class="dropdown-list">
                  <ul>
                    <li><a href="javascript:void(0);">类似</a></li>
                    <li><a href="javascript:void(0);">相同</a></li>
                  </ul>
                </div>

                <input type="text">
              </div>

              <input type="text">
            </th>

            <th>
              <div class="dropdown">
                <div class="dropdown-face">
                  <span class="dropdown-text"></span>
                  <button type="button" class="btn-icon btn-link">▼</button>
                </div>

                <div class="dropdown-list">
                  <ul>
                    <li><a href="javascript:void(0);">类似</a></li>
                    <li><a href="javascript:void(0);">相同</a></li>
                  </ul>
                </div>

                <input type="text">
              </div>

              <input type="text">
            </th>

            <th>
              <div class="dropdown">
                <div class="dropdown-face">
                  <span class="dropdown-text"></span>
                  <button type="button" class="btn-icon btn-link">▼</button>
                </div>

                <div class="dropdown-list">
                  <ul>
                    <li><a href="javascript:void(0);">类似</a></li>
                    <li><a href="javascript:void(0);">相同</a></li>
                  </ul>
                </div>

                <input type="text">
              </div>

              <input type="text">
            </th>

            <th>
              <div class="dropdown">
                <div class="dropdown-face">
                  <span class="dropdown-text"></span>
                  <button type="button" class="btn-icon btn-link">▼</button>
                </div>

                <div class="dropdown-list">
                  <ul>
                    <li><a href="javascript:void(0);">类似</a></li>
                    <li><a href="javascript:void(0);">相同</a></li>
                  </ul>
                </div>

                <input type="text">
              </div>

              <input type="text">
            </th>

            <th></th>
          </tr>

          <tr class="report-filter-easy-confirm">
            <td colspan="9">
              <button type="button" class="btn-cute btn-secondary">Apply</button>
              <button type="button" class="btn-cute">Reset</button>
              <button type="button" class="btn-cute">Close</button>
            </td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>
            <td><img src="images/ava-small.jpg" alt="头像"></td>
            <td>1</td>
            <td>蔡喵姬</td>
            <td>Ash Lee</td>
            <td>男</td>
            <td>前端大人</td>
            <td>PDC</td>
            <td>
              <button type="button">编辑</button>
              <button type="button">删除</button>
            </td>
          </tr>

          <tr>
            <td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>
            <td><img src="images/ava-small.jpg" alt="头像"></td>
            <td>1</td>
            <td>蔡喵姬</td>
            <td>Ash Lee</td>
            <td>男</td>
            <td>前端大人</td>
            <td>PDC</td>
            <td>
              <button type="button">编辑</button>
              <button type="button">删除</button>
            </td>
          </tr>

          <!--<tr>-->
            <!--<td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>-->
            <!--<td><img src="images/ava-small.jpg" alt="头像"></td>-->
            <!--<td>1</td>-->
            <!--<td>蔡喵姬</td>-->
            <!--<td>Ash Lee</td>-->
            <!--<td>男</td>-->
            <!--<td>前端大人</td>-->
            <!--<td>PDC</td>-->
            <!--<td>-->
              <!--<button type="button">编辑</button>-->
              <!--<button type="button">删除</button>-->
            <!--</td>-->
          <!--</tr>-->

          <!--<tr>-->
            <!--<td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>-->
            <!--<td><img src="images/ava-small.jpg" alt="头像"></td>-->
            <!--<td>1</td>-->
            <!--<td>蔡喵姬</td>-->
            <!--<td>Ash Lee</td>-->
            <!--<td>男</td>-->
            <!--<td>前端大人</td>-->
            <!--<td>PDC</td>-->
            <!--<td>-->
              <!--<button type="button">编辑</button>-->
              <!--<button type="button">删除</button>-->
            <!--</td>-->
          <!--</tr>-->

          <!--<tr>-->
            <!--<td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>-->
            <!--<td><img src="images/ava-small.jpg" alt="头像"></td>-->
            <!--<td>1</td>-->
            <!--<td>蔡喵姬</td>-->
            <!--<td>Ash Lee</td>-->
            <!--<td>男</td>-->
            <!--<td>前端大人</td>-->
            <!--<td>PDC</td>-->
            <!--<td>-->
              <!--<button type="button">编辑</button>-->
              <!--<button type="button">删除</button>-->
            <!--</td>-->
          <!--</tr>-->

          <!--<tr>-->
            <!--<td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>-->
            <!--<td><img src="images/ava-small.jpg" alt="头像"></td>-->
            <!--<td>1</td>-->
            <!--<td>蔡喵姬</td>-->
            <!--<td>Ash Lee</td>-->
            <!--<td>男</td>-->
            <!--<td>前端大人</td>-->
            <!--<td>PDC</td>-->
            <!--<td>-->
              <!--<button type="button">编辑</button>-->
              <!--<button type="button">删除</button>-->
            <!--</td>-->
          <!--</tr>-->

          <!--<tr>-->
            <!--<td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>-->
            <!--<td><img src="images/ava-small.jpg" alt="头像"></td>-->
            <!--<td>1</td>-->
            <!--<td>蔡喵姬</td>-->
            <!--<td>Ash Lee</td>-->
            <!--<td>男</td>-->
            <!--<td>前端大人</td>-->
            <!--<td>PDC</td>-->
            <!--<td>-->
              <!--<button type="button">编辑</button>-->
              <!--<button type="button">删除</button>-->
            <!--</td>-->
          <!--</tr>-->

          <!--<tr>-->
            <!--<td class="selectable"><label class="check"><input type="checkbox" data-select="#report-1"> <span>&nbsp;</span></label></td>-->
            <!--<td><img src="images/ava-small.jpg" alt="头像"></td>-->
            <!--<td>1</td>-->
            <!--<td>蔡喵姬</td>-->
            <!--<td>Ash Lee</td>-->
            <!--<td>男</td>-->
            <!--<td>前端大人</td>-->
            <!--<td>PDC</td>-->
            <!--<td>-->
              <!--<button type="button">编辑</button>-->
              <!--<button type="button">删除</button>-->
            <!--</td>-->
          <!--</tr>-->
        </tbody>
      </table>
    </div>

    <div class="report-footer">
      <div class="pagination">
        <span class="page-data">1-20/999</span>

        <form class="page-show-items">
          <select>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </form>

        <ol class="page-numbers">
          <li><a href="javascript:void(0);">1</a></li>
          <li><a href="javascript:void(0);">…</a></li>
          <li class="active"><a href="javascript:void(0);">7</a></li>
          <li><a href="javascript:void(0);">8</a></li>
          <li><a href="javascript:void(0);">9</a></li>
          <li><a href="javascript:void(0);">10</a></li>
          <li><a href="javascript:void(0);">11</a></li>
          <li><a href="javascript:void(0);">…</a></li>
          <li><a href="javascript:void(0);">999</a></li>
        </ol>

        <form class="page-jumper">
          <span>第</span>
          <input type="text" value="1">
          <span>页</span>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>

<h4>代码：</h4>

<pre><code>&lt;div class="panel report">
  &lt;div class="header">
    &lt;h4>员工基本信息报表&lt;/h4>
  &lt;/div>

  &lt;div class="content full">
    &lt;div class="report-header">
      &lt;div class="report-filter">
        &lt;div class="btn-bar">...&lt;/div>
      &lt;/div>

      &lt;div class="report-data-head-box">
        &lt;table class="report-data-head">
          &lt;thead>
            &lt;tr>...&lt;/tr>
          &lt;/thead>
        &lt;/table>
      &lt;/div>
    &lt;/div>

    &lt;div class="table-holder">
      &lt;table class="report-data">
        &lt;thead>
          &lt;tr>...&lt;/tr>
        &lt;/thead>

        &lt;tbody>
          &lt;tr>...&lt;/tr>
        &lt;/tbody>
      &lt;/table>
    &lt;/div>

    &lt;div class="report-footer">
      &lt;div class="pagination">...&lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div></code></pre>

<h4>说明</h4>

<ul class="list-unordered">
  <li><code>.btn-bar</code> 为按钮配置。</li>
  <li><code>.report-data-head</code> 为悬浮显示的表头。</li>
  <li><code>.report-data thead</code> 为正式表头。</li>
  <li><code>.report-data tbody</code> 为数据部分。</li>
  <li><code>.pagination</code> 为翻页。</li>
  <li>如需悬浮表头，执行 <code>CDP.reportScroll($('#container-id'))</code></li>
</ul>
