<div class="fchart-maker">
  <div class="fmaker-data">
    <div class="fmaker-panel">
      <div class="fmaker-comp">
        <h5>公式内容</h5>

        <textarea>Ash 萌萌哒！&#10;萌萌哒！</textarea>
      </div>
    </div>

    <div class="fmaker-panel">
      <div class="fmaker-comp">
        <h5>注册变量</h5>

        <select multiple>
          <option>休假小时数</option>
          <option>休假编码</option>
        </select>
      </div>
    </div>

    <div class="fmaker-panel">
      <div class="fmaker-comp">
        <h5>备注</h5>

        <textarea></textarea>
      </div>
    </div>

    <div class="fmaker-panel">
      <div class="fmaker-comp">
        <h5>系统函数</h5>

        <select multiple>
          <option>四舍五入</option>
          <option>取绝对值</option>
          <option>取整数部分</option>
        </select>
      </div>
    </div>
  </div>

  <div class="fmaker-btns">
    <div class="fmaker-panel">
      <h5>基本计算</h5>

      <div class="fmaker-cal">
        <button type="button" class="btn-lg btn-secondary">9</button>
        <button type="button" class="btn-lg btn-secondary">8</button>
        <button type="button" class="btn-lg btn-secondary">7</button>
        <button type="button" class="btn-lg btn-primary">÷</button>
        <button type="button" class="btn-lg btn-secondary">6</button>
        <button type="button" class="btn-lg btn-secondary">5</button>
        <button type="button" class="btn-lg btn-secondary">4</button>
        <button type="button" class="btn-lg btn-primary">×</button>
        <button type="button" class="btn-lg btn-secondary">3</button>
        <button type="button" class="btn-lg btn-secondary">2</button>
        <button type="button" class="btn-lg btn-secondary">1</button>
        <button type="button" class="btn-lg btn-primary">-</button>
        <button type="button" class="btn-lg btn-secondary">0</button>
        <button type="button" class="btn-lg btn-secondary">00</button>
        <button type="button" class="btn-lg btn-secondary">.</button>
        <button type="button" class="btn-lg btn-primary">+</button>
      </div>

      <div class="fmaker-cond">
        <button type="button" class="btn-lg">if</button>
        <button type="button" class="btn-lg">and</button>
        <button type="button" class="btn-lg">or</button>
        <button type="button" class="btn-lg">(</button>
        <button type="button" class="btn-lg">else</button>
        <button type="button" class="btn-lg">then</button>
        <button type="button" class="btn-lg">==</button>
        <button type="button" class="btn-lg">)</button>
        <button type="button" class="btn-lg">>=</button>
        <button type="button" class="btn-lg">></button>
        <button type="button" class="btn-lg"><=</button>
        <button type="button" class="btn-lg"><</button>
        <button type="button" class="btn-lg">!=</button>
        <button type="button" class="btn-lg">=</button>
        <button type="button" class="btn-lg">res</button>
      </div>
    </div>
  </div>

  <div class="form-confirm">
    <button type="button" class="btn-secondary btn-cute" data-locale="BTN_OK"></button>
    <button type="button" class="btn-cute" data-locale="BTN_CANCEL"></button>
  </div>
</div>
