<div class="panel">
  <div class="header">
    <h4>联动维护：<span class="linkage-name">省市县</span></h4>
  </div>

  <div class="content">
    <p>请选择需要维护的项目：</p>

    <div class="gap-v-sm">
      <label class="check check-inline"><input type="radio" name="linkage-items"> <span>省</span></label>
      <label class="check check-inline"><input type="radio" name="linkage-items"> <span>市</span></label>
      <label class="check check-inline"><input type="radio" name="linkage-items" disabled> <span>县</span></label>
    </div>

    <div class="linkage-edit gap-v-lg">
      <div class="linkage-col">
        <h4>上级：省</h4>

        <div class="picker">
          <div class="picker-header">
            <div class="form-search form-search-sm">
              <input type="text">
              <button class="btn-icon btn-link"><span class="icon"></span></button>
            </div>
          </div>

          <div class="picker-list">
            <ul>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 1</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 2</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="linkage-col">
        <h4>下级级：市</h4>

        <div class="picker">
          <div class="picker-header">
            <div class="form-search form-search-sm">
              <input type="text">
              <button class="btn-icon btn-link"><span class="icon"></span></button>
            </div>
          </div>

          <div class="picker-list">
            <ul>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 1</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 2</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="linkage-col">
        <h4>已选项</h4>

        <div class="item-list">
          <div class="picker-list">
            <ul>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 1</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 2</span></label>
              </li>
              <li>
                <label class="check"><input type="checkbox" checked> <span>选择项 3</span></label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="linkage-confirm">
      <button type="button" class="btn-secondary btn-cute">确定</button>
    </div>
  </div>
</div>
