<h2>名片</h2>

<h3>普通版</h3>

<div class="holder">
  <h4>显示效果：</h4>

  <div class="card">
    <div class="card-avatar">
      <img src="images/ava-big.jpg" alt="Ash Lee">
    </div>

    <div class="card-info">
      <h4 class="card-name" title="Ash Moe Ivanov Maimaiti">Ash Moe Ivanov Maimaiti</h4>

      <ul class="card-info-list">
        <li class="card-info-id" title="编号：P1001048"><span>日</span> P1001048</li>
        <li class="card-info-pos" title="官职：尚书令"><span>日</span> 尚书令</li>
        <li class="card-info-email" title="邮箱：ash.moe.maimaiti@donghan.gov.cn"><span>日</span> ash.moe@donghan.gov.cn</li>
      </ul>

      <div class="card-actions">
        <div class="btn-group">
          <div class="btn-overflow">
            <button type="button" class="btn-sm btn-trigger">Actions</button>

            <div class="btn-stack">
              <button type="button" class="btn-sm">打招呼</button>
              <button type="button" class="btn-sm">请他吃饭</button>
              <button type="button" class="btn-sm">约会</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h4>代码：</h4>

  <pre><code>&lt;div class="card">
  &lt;div class="card-avatar">
    &lt;img src="images/ava-big.jpg" alt="Ash Lee">
  &lt;/div>

  &lt;div class="card-info">
    &lt;h4 class="card-name" title="Ash Moe Ivanov Maimaiti">Ash Moe Ivanov Maimaiti&lt;/h4>

    &lt;ul class="card-info-list">
      &lt;li class="card-info-id" title="编号：P1001048">&lt;span>日&lt;/span> P1001048&lt;/li>
      &lt;li class="card-info-pos" title="官职：尚书令">&lt;span>日&lt;/span> 尚书令&lt;/li>
      &lt;li class="card-info-email" title="邮箱：ash.moe.maimaiti@donghan.gov.cn">&lt;span>日&lt;/span> ash.moe@donghan.gov.cn&lt;/li>
    &lt;/ul>

    &lt;div class="card-actions">
      &lt;div class="btn-group">
        &lt;div class="btn-overflow">
          &lt;button type="button" class="btn-sm btn-trigger">Actions&lt;/button>

          &lt;div class="btn-stack">
            &lt;button type="button" class="btn-sm">打招呼&lt;/button>
            &lt;button type="button" class="btn-sm">请他吃饭&lt;/button>
            &lt;button type="button" class="btn-sm">约会&lt;/button>
          &lt;/div>
        &lt;/div>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div></code></pre>

  <h4>说明：</h4>

  <ul class="list-unordered">
    <li>图片大小为 160 * 160。</li>
    <li>目前名片限定宽度，一行显示不下的内容会变成省略号，鼠标悬浮能看到全部。</li>
    <li>Actions 暂时显示为下拉按钮（可调整）。</li>
  </ul>
</div>
