<h2>数据表</h2>

<h3>普通</h3>

<div class="holder">
  <table>
    <thead>
      <tr>
        <th class="sortable asc">头像</th>
        <th class="sortable desc">编号</th>
        <th>中文名</th>
        <th>英文名</th>
        <th>性别</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td>蔡喵姬</td>
        <td>Ash Lee</td>
        <td>女</td>
      </tr>

      <tr>
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td>蔡喵姬</td>
        <td>Ash Lee</td>
        <td>女</td>
      </tr>

      <tr class="selected">
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td>蔡喵姬</td>
        <td>Ash Lee</td>
        <td>女</td>
      </tr>

      <tr>
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td>蔡喵姬</td>
        <td>Ash Lee</td>
        <td>女</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>长表格</h3>

<div class="holder">
  <div class="table-holder">
    <table>
      <thead>
        <tr>
          <th>头像</th>
          <th>编号</th>
          <th>中文名</th>
          <th>英文名</th>
          <th>性别</th>
          <th>头像</th>
          <th>编号</th>
          <th>中文名</th>
          <th>英文名</th>
          <th>性别</th>
          <th>头像</th>
          <th>编号</th>
          <th>中文名</th>
          <th>英文名</th>
          <th>性别</th>
          <th>头像</th>
          <th>编号</th>
          <th>中文名</th>
          <th>英文名</th>
          <th>性别</th>
          <th>头像</th>
          <th>编号</th>
          <th>中文名</th>
          <th>英文名</th>
          <th>性别</th>
          <th>头像</th>
          <th>编号</th>
          <th>中文名</th>
          <th>英文名</th>
          <th>性别</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><img src="images/ava-small.jpg" alt="头像"></td>
          <td>1</td>
          <td>蔡喵姬</td>
          <td>Ash Lee</td>
          <td>女</td>
          <td><img src="images/ava-small.jpg" alt="头像"></td>
          <td>1</td>
          <td>蔡喵姬</td>
          <td>Ash Lee</td>
          <td>女</td>
          <td><img src="images/ava-small.jpg" alt="头像"></td>
          <td>1</td>
          <td>蔡喵姬</td>
          <td>Ash Lee</td>
          <td>女</td>
          <td><img src="images/ava-small.jpg" alt="头像"></td>
          <td>1</td>
          <td>蔡喵姬</td>
          <td>Ash Lee</td>
          <td>女</td>
          <td><img src="images/ava-small.jpg" alt="头像"></td>
          <td>1</td>
          <td>蔡喵姬</td>
          <td>Ash Lee</td>
          <td>女</td>
          <td><img src="images/ava-small.jpg" alt="头像"></td>
          <td>1</td>
          <td>蔡喵姬</td>
          <td>Ash Lee</td>
          <td>女</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>表格和其他元素</h3>

<div class="holder">
  <table>
    <thead>
      <tr>
        <th>头像</th>
        <th>编号</th>
        <th>链接</th>
        <th>标签</th>
        <th>按钮</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td><a href="#">蔡喵姬</a></td>
        <td><span class="badge">Ash Lee</span></td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>

      <tr>
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td><a href="#">蔡喵姬</a></td>
        <td><span class="badge">Ash Lee</span></td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>

      <tr class="selected">
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td><a href="#">蔡喵姬</a></td>
        <td><span class="badge">Ash Lee</span></td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>

      <tr>
        <td><img src="images/ava-small.jpg" alt="头像"></td>
        <td>1</td>
        <td><a href="#">蔡喵姬</a></td>
        <td><span class="badge">Ash Lee</span></td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3>编辑模式</h3>

<div class="holder">
  <table>
    <thead>
      <tr>
        <th class="selectable"><label class="check"><input type="checkbox"> <span>&nbsp;</span></label></th>
        <th class="selectable"></th>
        <th>文本框</th>
        <th>下拉列表</th>
        <th>按钮</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="selectable"><label class="check"><input type="checkbox"> <span>&nbsp;</span></label></td>
        <td class="selectable"><label class="check"><input type="radio" name="c"> <span>&nbsp;</span></label></td>
        <td><input type="text"></td>
        <td>
          <div class="dropdown gap-v">
            <div class="dropdown-face">
              <span class="dropdown-text">下拉列表</span>
              <button type="button" class="btn-icon btn-link">◆</button>
            </div>

            <div class="dropdown-list">
              <ul>
                <li><a href="javascript:void(0);">列表项 1</a></li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>

      <tr>
        <td class="selectable"><label class="check"><input type="checkbox"> <span>&nbsp;</span></label></td>
        <td class="selectable"><label class="check"><input type="radio" name="c"> <span>&nbsp;</span></label></td>
        <td><input type="text"></td>
        <td>
          <div class="dropdown gap-v">
            <div class="dropdown-face">
              <span class="dropdown-text">下拉列表</span>
              <button type="button" class="btn-icon btn-link">◆</button>
            </div>

            <div class="dropdown-list">
              <ul>
                <li><a href="javascript:void(0);">列表项 1</a></li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>

      <tr class="selected">
        <td class="selectable"><label class="check"><input type="checkbox" checked> <span>&nbsp;</span></label></td>
        <td class="selectable"><label class="check"><input type="radio" name="c" checked> <span>&nbsp;</span></label></td>
        <td><input type="text"></td>
        <td>
          <div class="dropdown gap-v">
            <div class="dropdown-face">
              <span class="dropdown-text">下拉列表</span>
              <button type="button" class="btn-icon btn-link">◆</button>
            </div>

            <div class="dropdown-list">
              <ul>
                <li><a href="javascript:void(0);">列表项 1</a></li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>

      <tr>
        <td class="selectable"><label class="check"><input type="checkbox"> <span>&nbsp;</span></label></td>
        <td class="selectable"><label class="check"><input type="radio" name="c"> <span>&nbsp;</span></label></td>
        <td><input type="text"></td>
        <td>
          <div class="dropdown gap-v">
            <div class="dropdown-face">
              <span class="dropdown-text">下拉列表</span>
              <button type="button" class="btn-icon btn-link">◆</button>
            </div>

            <div class="dropdown-list">
              <ul>
                <li><a href="javascript:void(0);">列表项 1</a></li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <button type="button">编辑</button>
          <button type="button">删除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
