<div class="header">
  <h4 data-locale="TODO_LIST"></h4>

  <div class="opr">
    <button class="btn-icon">日</button>
    <button class="btn-icon">日</button>
    <button class="btn-icon">日</button>
  </div>
</div>

<div class="content full">
  <div class="w-todo-list">
    <ul>
      <li class="w-todo">
        <p>
          <span class="w-todo-tag">Probation Period Expire</span>
          <span class="w-todo-date">2014-07-24</span>
        </p>

        <p>
          <span class="w-todo-person">Ash Lee</span>
          <span class="w-todo-due">One month later</span>
        </p>

        <div class="w-todo-opr">
          <p><button type="button" class="btn-sm">Do not remind</button></p>
          <p><button type="button" class="btn-sm" data-locale="BTN_CANCEL"></button></p>
        </div>
      </li>

      <li class="w-todo">
        <p>
          <span class="w-todo-tag">Probation Period Expire</span>
          <span class="w-todo-date">2014-07-24</span>
        </p>

        <p>
          <span class="w-todo-person">Ash Lee</span>
          <span class="w-todo-due">One month later</span>
        </p>

        <div class="w-todo-opr">
          <p><button type="button" class="btn-sm">Do not remind</button></p>
          <p><button type="button" class="btn-sm" data-locale="BTN_CANCEL"></button></p>
        </div>
      </li>

      <li class="w-todo">
        <p>
          <span class="w-todo-tag">Probation Period Expire</span>
          <span class="w-todo-date">2014-07-24</span>
        </p>

        <p>
          <span class="w-todo-person">Ash Lee</span>
          <span class="w-todo-due">One month later</span>
        </p>

        <div class="w-todo-opr">
          <p><button type="button" class="btn-sm">Do not remind</button></p>
          <p><button type="button" class="btn-sm" data-locale="BTN_CANCEL"></button></p>
        </div>
      </li>

      <li class="w-todo">
        <p>
          <span class="w-todo-tag">Probation Period Expire</span>
          <span class="w-todo-date">2014-07-24</span>
        </p>

        <p>
          <span class="w-todo-person">Ash Lee</span>
          <span class="w-todo-due">One month later</span>
        </p>

        <div class="w-todo-opr">
          <p><button type="button" class="btn-sm">Do not remind</button></p>
          <p><button type="button" class="btn-sm" data-locale="BTN_CANCEL"></button></p>
        </div>
      </li>

      <li class="w-todo">
        <p>
          <span class="w-todo-tag">Probation Period Expire</span>
          <span class="w-todo-date">2014-07-24</span>
        </p>

        <p>
          <span class="w-todo-person">Ash Lee</span>
          <span class="w-todo-due">One month later</span>
        </p>

        <div class="w-todo-opr">
          <p><button type="button" class="btn-sm">Do not remind</button></p>
          <p><button type="button" class="btn-sm" data-locale="BTN_CANCEL"></button></p>
        </div>
      </li>
    </ul>
  </div>
</div>
