<div class="panel">
  <div class="header">
    <h4 data-locale="EMP_INFO_DEMO"></h4>
  </div>

  <div class="content no-padding">
    <div class="tab tab-v" id="tab-1">
      <div class="tab-header">
        <ul>
          <li data-tab-page="1" class="active"><a href="javascript:void(0);">Export current</a></li>
          <li data-tab-page="2"><a href="javascript:void(0);">Optional export</a></li>
          <li data-tab-page="3"><a href="javascript:void(0);">Export all</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <ul>
          <li data-tab-page="1" class="active">
            <div class="tab-page">
              <div class="card">
                <div class="card-avatar">
                  <img src="./images/ava-big.jpg" alt="Ash Lee">
                </div>

                <div class="card-info">
                  <h4 class="card-name" title="Ash Moe Ivanov Maimaiti">Ash Moe Ivanov Maimaiti</h4>

                  <ul class="card-info-list">
                    <li class="card-info-id" title="编号：P1001048"><span>日</span> P1001048</li>
                    <li class="card-info-pos" title="官职：尚书令"><span>日</span> 尚书令</li>
                    <li class="card-info-email" title="邮箱：ash.moe.maimaiti@donghan.gov.cn"><span>日</span> ash.moe@donghan.gov.cn</li>
                  </ul>

                  <div class="card-actions">
                    <div class="btn-group">
                      <div class="btn-overflow">
                        <button type="button" class="btn-sm btn-trigger">Actions</button>

                        <div class="btn-stack">
                          <button type="button" class="btn-sm">打招呼</button>
                          <button type="button" class="btn-sm">请他吃饭</button>
                          <button type="button" class="btn-sm">约会</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <form class="form-item-view form-two-col gap-v-lg">
                <div class="form-group">
                  <div class="form-item-line">
                    <label class="form-label">中文名：</label>
                    <div class="form-control form-static">蔡喵姬</div>

                    <label class="form-label">英文名：</label>
                    <div class="form-control form-static">Ash Lee</div>
                  </div>

                  <div class="form-item-line">
                    <label class="form-label">人事事件类型：</label>
                    <div class="form-control form-static">I got troubled thoughts And the self-esteem to match. What a catch, what a catchYou'll never catch us So just let me be Said I'll be fine Till the hospital or American Embassy Miss Flack said I still want you back I got troubled thoughts.</div>

                    <label class="form-label">&nbsp;</label>
                    <div class="form-control form-static">&nbsp;</div>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <li data-tab-page="2">
            <div class="tab-page">
              <p>日</p>
            </div>
          </li>
          <li data-tab-page="3">
            <div class="tab-page">
              <p>日日</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  new Tab({
    $tab: $('#tab-1'),
    minHeight: 700
  });
</script>
