<!--Created by SheL on 2016/4/6.-->
<div class="panel">
    <div class="header">
        <h4 data-locale="CALENDAR_SOHO"></h4>
    </div>

    <div class="content padding">
        <div class="container-full">
            <div id="calendar">白痴！你的脚本没运行。</div>
        </div>
    </div>

    <section>
    <h4>说明：</h4>
    <ul class="list-unordered">
        <li>请求：
            <ul class="list-unordered">
                <li>参数：
                    <code>{"dataParams":"2016-04"}</code>
                </li>
                <li>方式： POST</li>
                <li>时间： 组件初始化/切换日期</li>
            </ul>
        </li>
        <li>参数：
            <ul class="list-unordered">
                <li>dataURL： 请求地址，string（字符串）类型。</li>
                <li>dataParams： 携带参数，string（字符串）类型。</li>
                <li>样例：
                <pre><code>
                    var settings = {
                      dataURL: 'db/calendar/calendar.json',
                      dataParams: '2016-04'
                    };
                    var calendar = new Calendar(settings);
                </code></pre>
                </li>
            </ul>
        </li>
        <li>数据：
            <ul class="list-unordered">
                <li>格式： JSON</li>
                <li>样例 1：
                     <pre><code>
                         {
                         "events": [],
                         "vct_date": [],
                         "defaultDate": "2016-03-01"
                         }
                     </code></pre>
                </li>
                <li>样例 2：
                     <pre><code>
                         {
                         "events": [
                             {
                             "title": "总办",
                             "color": "blue",
                             "start": "2016-04-01"
                             },
                             {
                             "title": "休息",
                             "start": "2016-04-02"
                             }
                         ],
                         "vct_date": [
                             "2016-04-17",
                             "2016-04-16"
                         ],
                         "vct_color": "#D8D8D8",
                         "defaultDate": "2016-04-01"
                         }
                     </code></pre>
                </li>
                <li>样例 3：
                     <pre><code>
                         {
                         "events": [],
                         "vct_date": [
                             "2016-04-17",
                             "2016-04-16"
                         ],
                         "defaultDate": "2016-04-01"
                         }
                     </code></pre>
                </li>
            </ul>
        </li>
        <li>使用前提：页面中存在一个id="calendar"的元素。</li>
        <li>使用方法：直接实例化即可。</li>
    </ul>
    </section>
</div>

<script>
    const queryDate = new Date();
    var settings = {
        dataURL: 'db/calendar/calendar.json',
        dataParams: queryDate.getFullYear() + "-" + (queryDate.getMonth()+1)
    };

    var calendar = new Calendar(settings);
</script>
