<!--Created by SheL on 2016/4/6.-->
<div class="panel">
    <div class="header">
        <h4 data-locale="CALENDAR_SOHO"></h4>
    </div>

    <div class="content padding">
        <div class="container-full">
            <div id="calendar">白痴！你的脚本没运行。</div>
        </div>
    </div>

    <h4>说明：</h4>
    <ul class="list-unordered">
        <li>等你师叔我有空再写……</li>
    </ul>
</div>

<script>
    const testJSON2 = {
        "events":  [{"title":"总办","color":"blue","start":"2016-04-01"},{"title":"休息","color":"blue","start":"2016-04-02"
    },{"title":"休息","color":"blue","start":"2016-04-03"},{"title":"总办","color":"blue","start":"2016-04-04"
    },{"title":"总办","color":"blue","start":"2016-04-05"},{"title":"总办","color":"blue","start":"2016-04-06"
    },{"title":"总办","color":"blue","start":"2016-04-07"},{"title":"总办","color":"blue","start":"2016-04-08"
    },{"title":"休息","color":"blue","start":"2016-04-09"},{"title":"休息","color":"blue","start":"2016-04-10"
    },{"title":"总办","color":"blue","start":"2016-04-11"},{"title":"总办","color":"blue","start":"2016-04-12"
    },{"title":"总办","color":"blue","start":"2016-04-13"},{"title":"总办","color":"blue","start":"2016-04-14"
    },{"title":"总办","color":"blue","start":"2016-04-15"},{"title":"休息","color":"blue","start":"2016-04-16"
    },{"title":"休息","color":"blue","start":"2016-04-17"},{"title":"总办","color":"blue","start":"2016-04-18"
    },{"title":"总办","color":"blue","start":"2016-04-19"},{"title":"总办","color":"blue","start":"2016-04-20"
    },{"title":"总办","color":"blue","start":"2016-04-21"},{"title":"总办","color":"blue","start":"2016-04-22"
    },{"title":"休息","color":"blue","start":"2016-04-23"},{"title":"休息","color":"blue","start":"2016-04-24"
    },{"title":"总办","color":"blue","start":"2016-04-25"},{"title":"总办","color":"blue","start":"2016-04-26"
    },{"title":"总办","color":"blue","start":"2016-04-27"},{"title":"总办","color":"blue","start":"2016-04-28"
    },{"title":"总办","color":"blue","start":"2016-04-29"},{"title":"休息","color":"blue","start":"2016-04-30"
    }]};

    var calendar = new Calendar({
        dataURL: '',
        dataParams: {},
        testJSON: testJSON2
    });
</script>
